# 虚拟环境
venv/
env/
ENV/
.venv/

# Python 缓存
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# 数据集
*.tar.gz
*.zip
data/
dataset/
datasets/

# 模型文件
*.pth
*.pt
*.ckpt
*.h5
*.pb
*.onnx
checkpoints/
models/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db
